<!-- HEADER -->
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
        <a ui-sref="login" class="navbar-brand"><img src="assets/images/translogo.png" class="img-responsive" alt="logo"></a>
        </div>
        <api-navigation ng-hide="$root.state.includes('acp.*')"></api-navigation>
    </div>
</div>
<!-- /HEADER -->