<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US">
<head>
    <base href="/" />
    <title><%= siteName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- animate -->
    <link rel="stylesheet" href="assets/stylesheets/animate.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
    <!-- custom -->
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body class="app" ng-cloak>
    <api-header></api-header>
    <div ui-view></div>
    <!--<api-footer></api-footer>-->
    
    <!-- jQuery -->
    <script src="assets/javascripts/jquery.js"></script>
    <!-- bootstrap -->
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <!-- isotope -->
    <script src="assets/javascripts/isotope.js"></script>
    <!-- images loaded -->
    <script src="assets/javascripts/imagesloaded.min.js"></script>
    <!-- wow -->
    <script src="assets/javascripts/wow.min.js"></script>
    <!-- smoothScroll -->
    <script src="assets/javascripts/smoothscroll.js"></script>
    <!-- jquery flexslider -->
    <script src="assets/javascripts/jquery.flexslider.js"></script>
    <!-- custom -->
    <script src="assets/javascripts/custom.js"></script>
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="logisticapi.js"></script>
</body>
</html>